@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
:root {
  /* --primary: #03420d; */
  --primary: #4759f9;
  --secondary: #feae37;
  --tertiary: #1d1e25;
  --quaternary: #454c5d;
  --light: #bdc3c7;
  --dark: #2c3e50;
  --white: #ffffff;
  --black: #000000;
  --font-family: "Roboto", sans-serif;
  --transition: all 0.3s ease-in-out;
  --primary-text: #2c3e50;
  --secondary-text: #bdc3c7;
  --link-color: var(--primary);
  --hover-color: rgba(60, 63, 64, 0.05);
  --active-color: var(--primary);
  --border-radius: 3px;
  --shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

body {
  font-weight: 400;
  font-style: normal;
  scroll-timeline: inherit;
  text-rendering: optimizeSpeed;
  -moz-font-smoothing: antialiased;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
.w-90 {
  max-width: 80%;
  margin: 0 auto;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.flex-basis-50 {
  flex-basis: 50%;
}
.rounded {
  border-radius: 6px !important;
}
.shadow {
  -webkit-box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
  box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  font-weight: 700;
  border: none;
  padding: 14.5px 30px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: initial;
  border-radius: 4px;
}
header {
  padding: 1em 0;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
main {
  padding: 1em 0;
}
section {
  margin-bottom: 4em;
}
footer{
  margin-top: 4em;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.header-nav-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  text-align: center;
}
.header-nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  text-align: center;
}

.header-button > button {
  color: var(--white);
  border: 1px solid var(--primary);
  background: var(--primary);
}
.nav-icon {
  display: none;
  font-size: 30px;
}

.hero-section {
  display: flex;
  align-items: center;
  /* margin-top: 1em; */
  padding: 0.5em auto;
}
.hero-content {
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.hero-buttons {
  display: flex;
  gap: 1em;
  align-items: center;
}

.hero-btn-one {
  color: var(--white);
  border: 1px solid var(--primary);
  background: var(--primary);
  padding: 14.5px 15px;
}
.hero-btn-two {
  background: rgb(237, 235, 235);
  padding: 14.5px 35px;
}
.hero-img {
  height: 500px;
  width: 100% !important;
}
.hero-img img {
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}
.service-box-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
}
.box-content {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 3em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.box-content > p {
  font-size: 14px;
}
.box-content-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-content-text {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1em 1em;
  gap: 1.5em;
  line-height: 1;
}
.box-content-text > button {
  width: 50%;
}
.box-content-text > h1 {
  font-size: 35px;
  font-weight: 900;
}
.box-content-text > p {
  font-size: 14px;
}
.mobile {
  display: none;
}
.why-us-container {
  background-color: #f4f5ff;
  padding: 2em 0 4em 0;
}
.why-us-boxes {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  column-gap: 40px;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
}

.why-us-box {
  padding: 4em;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.why-us-head {
  text-align: center;
  margin: 2em auto;
  line-height: 1;
}
.why-us-head h1 {
  font-size: 25px;
  font-weight: 900;
}
.why-us-head p {
  font-size: 14px;
  padding-top: 1em;
}
.why-us-box {
  display: flex;
  flex-direction: column;
  padding: 1.8em;
  gap: 0.8em;
  color: var(--primary);
}
.why-us-box > p {
  font-size: 14px;
}
.why-us-icon {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f5ff;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

.download-app-container {
  background: var(--primary);
  padding: 3em;
  padding-bottom: 0;
}
.download-app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.download-app-text {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1.2em;
}
.people {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 0.5em;
}
.download-app-text h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 1.3;
}
.download-app-text > button {
  max-width: 50%;
}
.download-app-image img {
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.footer-container {
  background-color: var(--primary);
  padding: 100px;
}
.footer-top-box {
  background-color: var(--secondary);
  display: flex;
  padding: 5em;
  margin-top: -10em;
  color: white;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.footer-top-box-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer-top-box-app-icons {
  /* display: flex;
  align-items: center; */
  gap: 1em;
  margin-left: 8em;
}
@media (max-width: 900px) {
  section {
    margin-bottom: 2em;
  }
  .header-nav,
  .header-button {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .hero-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 20px;
  }
  .flex-basis-50 {
    flex-basis: 100% !important;
  }
  .w-50 {
    width: 100% !important;
  }
  .hero-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .why-us-boxes,
  .service-box-contents {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  .service-box-contents > .box-content-text {
    order: -1;
  }
  .box-content {
    padding: 2em;
  }
  .box-content h2 {
    font-size: 1em;
  }
  .box-content-text {
    padding: 1em 0em;
    text-align: center;
  }
  .box-content-text > h1 {
    font-size: 25px;
    font-weight: 900;
  }
  .box-content-text > button {
    display: none;
  }
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
  .download-app-section {
    flex-direction: column-reverse;
    gap: 3em;
  }
  .download-app-container {
    padding: 3em 0 0 0;
  }
  .download-app-text {
    padding: 0;
  }

  .download-app-text h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.3;
  }
  .download-app-text > button {
    width: 50%;
  }
  .footer-container {
    background-color: var(--primary);
    padding: 100px;
  }
  .footer-top-box {
    flex-direction: column;
    margin-top: 10em;
    gap: 2em;
  }
  .footer-top-box-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .footer-top-box-app-icons {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .footer-top-box-app-icons img{
    width: 50%;
  }
  .footer-container {
    background-color: var(--primary);
    padding: 50px;
  }
  .footer-top-box {
    padding:  2em;
    margin-top: -7em;

  }
  .footer-top-box-text h1{
    font-size: 30px;
  }
  .footer-top-box-app-icons {
 flex-direction: column;
 justify-content: center;
    gap: 1em;
    margin-left: 0em;
  }
}
